* {
  box-sizing: 0;
  padding: 0;
  margin: 0;
}

body {
  background: #75e6da;
  color: #05445e;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
.container {
  position: relative;
  width: 80vw;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: auto;
}
.hidden {
  display: none;
}

.fa-bars {
  cursor: pointer;
  margin-left: 1rem;
  font-size: 2rem;
}
.fa-bars:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  align-items: center;
  background-color: #05445e;
  color: #d4f1f4;
  padding: 1rem 2rem;
}

.project-list-title {
  /* border: 1px solid; */
  padding: 0.9rem;
  border-radius: 5px;
  background-color: #05445e;
  color: #d4f1f4;
}
.project-list {
  margin-top: 2rem;
  line-height: 1.7;
  list-style: circle;
  padding-left: 1.1em;
}
.project-name {
  cursor: pointer;
  list-style-type: none;
}
.todo-body {
  padding: 1rem;
}
.fa-solid {
  margin-right: 0.5rem;
}
::placeholder {
  color: #05445e;
  font-size: 1rem;
  opacity: 0.5;
}
form {
  display: flex;
}
input {
  color: #05445e;
  font-size: 1.2rem;
}
input:focus {
  outline: none;
}
.input {
  color: #05445e;
}
.new-project-form {
  margin-top: 1rem;
}
.btn {
  cursor: pointer;
  background: 0;
  border: 0;
  padding: 0;
  color: inherit;
}
.btn.create {
  font-size: 1.5rem;
  font-weight: 900;
  margin-right: 0.5rem;
}
.new {
  background: transparent;
  border: 0;
  border-bottom: 1px solid white;
  order: 2;
}
.new.task {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.active-project {
  font-weight: 900;
}

.todo-list {
  width: 80%;

  color: #0b0b0b;
  position: relative;
}

/* /// task */

.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #189ab4;
  border-radius: 10px;
}
.project-title {
  margin-right: 1rem;
}

/* /// to create custome check box/circel */
[type="checkbox"] {
  opacity: 0;
  position: absolute;
}
label {
  border: 1px solid;
  padding: 1rem 1rem;
  border-radius: 5px;
}

.task label {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  position: relative;
  margin-bottom: 1.3rem;
}

.custom-checkbox {
  --size: 0.75em;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  cursor: pointer;
  border: 2px solid;
  border-radius: 50%;
  transition: ease-in-out 0.2s;
}

.task:hover .custom-checkbox {
  transform: scale(1.2);
}

[type="checkbox"]:checked + label .custom-checkbox {
  background: rgb(5, 82, 4);
}

[type="checkbox"]:checked + label {
  opacity: 0.5;
  text-decoration: line-through;
}

.delete-btns {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  color: #05445e;
  margin-bottom: 3rem;
}

.btn.delete {
  font-weight: 700;
  padding: 1rem 2rem;
  background-color: #05445e;
  color: #d4f1f4;
  border-radius: 8px;
  transition: all 0.5s;
}
.btn.delete:hover {
  background-color: #d4f1f4;
  color: #05445e;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #05445e;
  color: white;
  height: 2rem;
  padding-top: 1rem;
}
.fa-github {
  color: white;
  font-size: 1.3rem;
}
